<!doctype html>
<html lang="en">

<html>
	<head>
		<title>Certification</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>

	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="index.html" class="logo"><strong>Team 14</strong> <span>Blueberry Dominators</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
				<nav id="menu">
          <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="certification.html">Cerfitification</a></li>
            <li><a href="Members.html">Members</a></li>
            <li><a href="Reports.html">Reports</a></li>
						<li><a href="Person_Certification.html">Person_Certification</a></li>
          </ul>
        </nav>



				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="css/images/pic07.jpg" alt="" />
							</span>
							<header class="major">
								<h1>Certification</h1>
							</header>
							<div class="content">
								<p>On this page you can view a list of certifications and  add, edit, or
delete member certifications.</p>
							</div>
						</div>
					</section>

				<!-- Main -->
				<h2>Search for User's Cerfitification Informaion</h2>
				<form class="form-group" action="index.html" method="get">
					<div class="form-group">
						<label for="userSearch">User Search</label>
						<input type="text" class="form-control" id="userSearch" placeholder="User's Name">
						<button type="button" name="button">Search</button>

					</div>

				</form>

				<div id='certificationPage'>
				<h2>Enter a New Certification</h2>
				<form method="NewCertForm" v-on:submit.prevent="createCertification()">
			

				    <label for="certifyingAgency">Certifying Agency</label>
				    <input type="text" v-model="newCertification.certifyingAgency" class="form-control" id="certifyingAgency" placeholder="Agency Name, e.g American Heart Association">

				    <label for="certificationName">Certification Name</label>
				    <input type="text" v-model="newCertification.certificationName" class="form-control" id="certificationName" placeholder="Certification Name, e.g CPR">

				    <label for="standardExpiry">Standard Expiry</label>
				    <input type="text" v-model="newCertification.standardExpiry" class="form-control" id="standardExpiry" placeholder="Expiry Year">

				  <input type="submit" class="button" value = "Create Certification">
				</form>
</div>
</div>
				<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<ul class="icons">

							<li><a href="https://github.com/bradscot/Bipins-Army" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="https://www.linkedin.com/school/kelley-school-of-business/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
				</footer>

		<!-- Scripts -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/certification.app.js"></script>
		<script type="JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.scrollex.min.js"></script>
		<script src="js/browser.min.js"></script>
		<script src="js/breakpoints.min.js"></script>
		<script src="js/util.js"></script>
		<script src="js/main.js"></script>


	</body>
</html>
